
:root {
  --default-border-radius: 0.35rem;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  /* background: #000;  */
  border-radius: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
div {
  display: block;
}
*, *::after, *::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

img {
  width: 100%;
  height: 100%;
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: inherit;
  user-select: none;
}

.application-body {
  position: relative;

  height: 100vh;
  height: 100svh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;

  overflow: auto;

  background-color: purple;

  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 2rem;
  gap: 2rem;
}

.main-wrapper {
  background-color: yellow;
  border-radius: var(--default-border-radius);
}

.sidebar-wrapper {
  position: relative;

  height: calc(100vh - 4rem);
  height: calc(100svh - 4rem);
  max-height: calc(100vh - 4rem);
  width: 100%;

  overflow: auto;

  background-color: aqua;
  border-radius: var(--default-border-radius);

  display: flex;
  flex-direction: column;
}

.sidebar-header {
  border-bottom: thin solid blue;
}